<div class="container, list-item">
    <div class="row">
        <div class="col-sm-10">
            <a routerLinkActive="active" [routerLink]="['/topics',sub_section.id]" style="cursor: pointer;">
                <h4>{{ sub_section.name }}</h4>
            </a>
        </div>
    </div>
    <div *ngIf="logedUser" class="row">
        <div class="col-sm-1">
            
        </div>
        <div class="col-sm-1">
            <div *ngIf="logedUser.role=='administrator' || logedUser.role=='moderator'">
                <button class="click-button" type="button" (click)="deleteSubSection()">Usuń</button>
            </div>
        </div>
        <div class="col-sm-1">
            <div *ngIf="logedUser.role=='administrator' || logedUser.role=='moderator'">
                <button class="click-button" type="button" (click)="editSubSection()">Edytuj</button>
            </div>
        </div>
        <div *ngIf="display">
            <app-sub-section-edit [sub_section]="sub_section" (displayEvent)="close($event)"></app-sub-section-edit>
        </div>
    </div>
</div>
<br>